PYTHONPATH=/app

# AWS credentials - note: already provided in aws environment.
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_REGION=us-east-2

S3_PREFIX=styletts2-output
S3_BUCKET=thirteenlabs

# ...
CONFIG_PATH=Models/LibriTTS/config.yml
MODEL_PATH=Models/LibriTTS/epochs_2nd_00020.pth
API_KEY=

TORCH_HOME=/app/Models
